In [1]:
#coding:utf-8
#导入warnings包，利用过滤器来实现忽略警告语句。
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

数据搜集————对数据格式和分布进行检查

In [9]:
Train_data = pd.read_csv('./used_car_train_20200313.csv', sep=' ')
Test_data = pd.read_csv('./used_car_testA_20200313.csv', sep=' ')

In [12]:
## 2) 简略观察数据(head()+shape)
pd.set_option('display.max_columns', None)  #显示所有列
Train_data.head().append(Train_data.tail())

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,0,736,20040402,30.0,6,1.0,0.0,0.0,60,12.5,0.0,1046,0,0,20160404,1850,43.357796,3.966344,0.050257,2.159744,1.143786,0.235676,0.101988,0.129549,0.022816,0.097462,-2.881803,2.804097,-2.420821,0.795292,0.914762
1,1,2262,20030301,40.0,1,2.0,0.0,0.0,0,15.0,-,4366,0,0,20160309,3600,45.305273,5.236112,0.137925,1.380657,-1.422165,0.264777,0.121004,0.135731,0.026597,0.020582,-4.900482,2.096338,-1.030483,-1.722674,0.245522
2,2,14874,20040403,115.0,15,1.0,0.0,0.0,163,12.5,0.0,2806,0,0,20160402,6222,45.978359,4.823792,1.319524,-0.998467,-0.996911,0.251410,0.114912,0.165147,0.062173,0.027075,-4.846749,1.803559,1.565330,-0.832687,-0.229963
3,3,71865,19960908,109.0,10,0.0,0.0,1.0,193,15.0,0.0,434,0,0,20160312,2400,45.687478,4.492574,-0.050616,0.883600,-2.228079,0.274293,0.110300,0.121964,0.033395,0.000000,-4.509599,1.285940,-0.501868,-2.438353,-0.478699
4,4,111080,20120103,110.0,5,1.0,0.0,0.0,68,5.0,0.0,6977,0,0,20160313,5200,44.383511,2.031433,0.572169,-1.571239,2.246088,0.228036,0.073205,0.091880,0.078819,0.121534,-1.896240,0.910783,0.931110,2.834518,1.923482
149995,149995,163978,20000607,121.0,10,4.0,0.0,1.0,163,15.0,0.0,4576,0,0,20160327,5900,45.316543,-3.139095,-1.269707,-0.736609,-1.505820,0.280264,0.000310,0.048441,0.071158,0.019174,1.988114,-2.983973,0.589167,-1.304370,-0.302592
149996,149996,184535,20091102,116.0,11,0.0,0.0,0.0,125,10.0,0.0,2826,0,0,20160312,9500,45.972058,-3.143764,-0.023523,-2.366699,0.698012,0.253217,0.000777,0.084079,0.099681,0.079371,1.839166,-2.774615,2.553994,0.924196,-0.272160
149997,149997,147587,20101003,60.0,11,1.0,1.0,0.0,90,6.0,0.0,3302,0,0,20160328,7500,44.733481,-3.105721,0.595454,-2.279091,1.423661,0.233353,0.000705,0.118872,0.100118,0.097914,2.439812,-1.630677,2.290197,1.891922,0.414931
149998,149998,45907,20060312,34.0,10,3.0,1.0,0.0,156,15.0,0.0,1877,0,0,20160401,4999,45.658634,-3.204785,-0.441680,-1.179812,0.620680,0.256369,0.000252,0.081479,0.083558,0.081498,2.075380,-2.633719,1.414937,0.431981,-1.659014
149999,149999,177672,19990204,19.0,28,6.0,0.0,1.0,193,12.5,0.0,235,0,0,20160305,4700,45.536383,-3.200326,-1.612893,-0.067144,-1.396166,0.284475,0.000000,0.040072,0.062543,0.025819,1.978453,-3.179913,0.031724,-1.483350,-0.342674

In [13]:
Test_data.head().append(Test_data.tail())

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,notRepairedDamage,regionCode,seller,offerType,creatDate,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
0,150000,66932,20111212,222.0,4,5.0,1.0,1.0,313,15.0,0.0,1440,0,0,20160329,49.593127,5.246568,1.001130,-4.122264,0.737532,0.264405,0.121800,0.070899,0.106558,0.078867,-7.050969,-0.854626,4.800151,0.620011,-3.664654
1,150001,174960,19990211,19.0,21,0.0,0.0,0.0,75,12.5,1.0,5419,0,0,20160404,42.395926,-3.253950,-1.753754,3.646605,-0.725597,0.261745,0.000000,0.096733,0.013705,0.052383,3.679418,-0.729039,-3.796107,-1.541230,-0.757055
2,150002,5356,20090304,82.0,21,0.0,0.0,0.0,109,7.0,0.0,5045,0,0,20160308,45.841370,4.704178,0.155391,-1.118443,-0.229160,0.260216,0.112081,0.078082,0.062078,0.050540,-4.926690,1.001106,0.826562,0.138226,0.754033
3,150003,50688,20100405,0.0,0,0.0,0.0,1.0,160,7.0,0.0,4023,0,0,20160325,46.440649,4.319155,0.428897,-2.037916,-0.234757,0.260466,0.106727,0.081146,0.075971,0.048268,-4.864637,0.505493,1.870379,0.366038,1.312775
4,150004,161428,19970703,26.0,14,2.0,0.0,0.0,75,15.0,0.0,3103,0,0,20160309,42.184604,-3.166234,-1.572058,2.604143,0.387498,0.250999,0.000000,0.077806,0.028600,0.081709,3.616475,-0.673236,-3.197685,-0.025678,-0.101290
49995,199995,20903,19960503,4.0,4,4.0,0.0,0.0,116,15.0,0.0,3219,0,0,20160320,45.621391,5.958453,-0.918571,0.774826,-2.021739,0.284664,0.130044,0.049833,0.028807,0.004616,-5.978511,1.303174,-1.207191,-1.981240,-0.357695
49996,199996,708,19991011,0.0,0,0.0,0.0,0.0,75,15.0,0.0,1857,0,0,20160329,43.935162,4.476841,-0.841710,1.328253,-1.292675,0.268101,0.108095,0.066039,0.025468,0.025971,-3.913825,1.759524,-2.075658,-1.154847,0.169073
49997,199997,6693,20040412,49.0,1,0.0,1.0,1.0,224,15.0,0.0,3452,0,0,20160305,46.537137,4.170806,0.388595,-0.704689,-1.480710,0.269432,0.105724,0.117652,0.057479,0.015669,-4.639065,0.654713,1.137756,-1.390531,0.254420
49998,199998,96900,20020008,27.0,1,0.0,0.0,1.0,334,15.0,0.0,1998,0,0,20160404,46.771359,-3.296814,0.243566,-1.277411,-0.404881,0.261152,0.000490,0.137366,0.086216,0.051383,1.833504,-2.828687,2.465630,-0.911682,-2.057353
49999,199999,193384,20041109,166.0,6,1.0,NaN,1.0,68,9.0,0.0,3276,0,0,20160322,43.731010,-3.121867,0.027348,-0.808914,2.116551,0.228730,0.000300,0.103534,0.080625,0.124264,2.914571,-1.135270,0.547628,2.094057,-1.552150

In [16]:
Train_data.shape

(150000, 31)

In [15]:
Test_data.shape

(50000, 30)

In [17]:
Train_data.dtypes

SaleID                 int64
name                   int64
regDate                int64
model                float64
brand                  int64
bodyType             float64
fuelType             float64
gearbox              float64
power                  int64
kilometer            float64
notRepairedDamage     object
regionCode             int64
seller                 int64
offerType              int64
creatDate              int64
price                  int64
v_0                  float64
v_1                  float64
v_2                  float64
v_3                  float64
v_4                  float64
v_5                  float64
v_6                  float64
v_7                  float64
v_8                  float64
v_9                  float64
v_10                 float64
v_11                 float64
v_12                 float64
v_13                 float64
v_14                 float64
dtype: object

In [18]:
Train_data.info

<bound method DataFrame.info of         SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  \
0            0     736  20040402   30.0      6       1.0       0.0      0.0
1            1    2262  20030301   40.0      1       2.0       0.0      0.0
2            2   14874  20040403  115.0     15       1.0       0.0      0.0
3            3   71865  19960908  109.0     10       0.0       0.0      1.0
4            4  111080  20120103  110.0      5       1.0       0.0      0.0
...        ...     ...       ...    ...    ...       ...       ...      ...
149995  149995  163978  20000607  121.0     10       4.0       0.0      1.0
149996  149996  184535  20091102  116.0     11       0.0       0.0      0.0
149997  149997  147587  20101003   60.0     11       1.0       1.0      0.0
149998  149998   45907  20060312   34.0     10       3.0       1.0      0.0
149999  149999  177672  19990204   19.0     28       6.0       0.0      1.0

        power  kilometer notRepairedDamage  regionCode  seller  offerType  \
0          60       12.5               0.0        1046       0          0
1           0       15.0                 -        4366       0          0
2         163       12.5               0.0        2806       0          0
3         193       15.0               0.0         434       0          0
4          68        5.0               0.0        6977       0          0
...       ...        ...               ...         ...     ...        ...
149995    163       15.0               0.0        4576       0          0
149996    125       10.0               0.0        2826       0          0
149997     90        6.0               0.0        3302       0          0
149998    156       15.0               0.0        1877       0          0
149999    193       12.5               0.0         235       0          0

        creatDate  price        v_0       v_1       v_2       v_3       v_4  \
0        20160404   1850  43.357796  3.966344  0.050257  2.159744  1.143786
1        20160309   3600  45.305273  5.236112  0.137925  1.380657 -1.422165
2        20160402   6222  45.978359  4.823792  1.319524 -0.998467 -0.996911
3        20160312   2400  45.687478  4.492574 -0.050616  0.883600 -2.228079
4        20160313   5200  44.383511  2.031433  0.572169 -1.571239  2.246088
...           ...    ...        ...       ...       ...       ...       ...
149995   20160327   5900  45.316543 -3.139095 -1.269707 -0.736609 -1.505820
149996   20160312   9500  45.972058 -3.143764 -0.023523 -2.366699  0.698012
149997   20160328   7500  44.733481 -3.105721  0.595454 -2.279091  1.423661
149998   20160401   4999  45.658634 -3.204785 -0.441680 -1.179812  0.620680
149999   20160305   4700  45.536383 -3.200326 -1.612893 -0.067144 -1.396166

             v_5       v_6       v_7       v_8       v_9      v_10      v_11  \
0       0.235676  0.101988  0.129549  0.022816  0.097462 -2.881803  2.804097
1       0.264777  0.121004  0.135731  0.026597  0.020582 -4.900482  2.096338
2       0.251410  0.114912  0.165147  0.062173  0.027075 -4.846749  1.803559
3       0.274293  0.110300  0.121964  0.033395  0.000000 -4.509599  1.285940
4       0.228036  0.073205  0.091880  0.078819  0.121534 -1.896240  0.910783
...          ...       ...       ...       ...       ...       ...       ...
149995  0.280264  0.000310  0.048441  0.071158  0.019174  1.988114 -2.983973
149996  0.253217  0.000777  0.084079  0.099681  0.079371  1.839166 -2.774615
149997  0.233353  0.000705  0.118872  0.100118  0.097914  2.439812 -1.630677
149998  0.256369  0.000252  0.081479  0.083558  0.081498  2.075380 -2.633719
149999  0.284475  0.000000  0.040072  0.062543  0.025819  1.978453 -3.179913

            v_12      v_13      v_14
0      -2.420821  0.795292  0.914762
1      -1.030483 -1.722674  0.245522
2       1.565330 -0.832687 -0.229963
3      -0.501868 -2.438353 -0.478699
4       0.931110  2.834518  1.923482
...          ...       ...       ...
149995  0.589167 -1.304370 -0.302592
149996  2.553994  0.924196 -0.272160
149997  2.290197  1.891922  0.414931
149998  1.414937  0.431981 -1.659014
149999  0.031724 -1.483350 -0.342674

[150000 rows x 31 columns]>

In [20]:
Test_data.dtypes

SaleID                 int64
name                   int64
regDate                int64
model                float64
brand                  int64
bodyType             float64
fuelType             float64
gearbox              float64
power                  int64
kilometer            float64
notRepairedDamage     object
regionCode             int64
seller                 int64
offerType              int64
creatDate              int64
v_0                  float64
v_1                  float64
v_2                  float64
v_3                  float64
v_4                  float64
v_5                  float64
v_6                  float64
v_7                  float64
v_8                  float64
v_9                  float64
v_10                 float64
v_11                 float64
v_12                 float64
v_13                 float64
v_14                 float64
dtype: object

In [21]:
Test_data.info

<bound method DataFrame.info of        SaleID    name   regDate  model  brand  bodyType  fuelType  gearbox  \
0      150000   66932  20111212  222.0      4       5.0       1.0      1.0
1      150001  174960  19990211   19.0     21       0.0       0.0      0.0
2      150002    5356  20090304   82.0     21       0.0       0.0      0.0
3      150003   50688  20100405    0.0      0       0.0       0.0      1.0
4      150004  161428  19970703   26.0     14       2.0       0.0      0.0
...       ...     ...       ...    ...    ...       ...       ...      ...
49995  199995   20903  19960503    4.0      4       4.0       0.0      0.0
49996  199996     708  19991011    0.0      0       0.0       0.0      0.0
49997  199997    6693  20040412   49.0      1       0.0       1.0      1.0
49998  199998   96900  20020008   27.0      1       0.0       0.0      1.0
49999  199999  193384  20041109  166.0      6       1.0       NaN      1.0

       power  kilometer notRepairedDamage  regionCode  seller  offerType  \
0        313       15.0               0.0        1440       0          0
1         75       12.5               1.0        5419       0          0
2        109        7.0               0.0        5045       0          0
3        160        7.0               0.0        4023       0          0
4         75       15.0               0.0        3103       0          0
...      ...        ...               ...         ...     ...        ...
49995    116       15.0               0.0        3219       0          0
49996     75       15.0               0.0        1857       0          0
49997    224       15.0               0.0        3452       0          0
49998    334       15.0               0.0        1998       0          0
49999     68        9.0               0.0        3276       0          0

       creatDate        v_0       v_1       v_2       v_3       v_4       v_5  \
0       20160329  49.593127  5.246568  1.001130 -4.122264  0.737532  0.264405
1       20160404  42.395926 -3.253950 -1.753754  3.646605 -0.725597  0.261745
2       20160308  45.841370  4.704178  0.155391 -1.118443 -0.229160  0.260216
3       20160325  46.440649  4.319155  0.428897 -2.037916 -0.234757  0.260466
4       20160309  42.184604 -3.166234 -1.572058  2.604143  0.387498  0.250999
...          ...        ...       ...       ...       ...       ...       ...
49995   20160320  45.621391  5.958453 -0.918571  0.774826 -2.021739  0.284664
49996   20160329  43.935162  4.476841 -0.841710  1.328253 -1.292675  0.268101
49997   20160305  46.537137  4.170806  0.388595 -0.704689 -1.480710  0.269432
49998   20160404  46.771359 -3.296814  0.243566 -1.277411 -0.404881  0.261152
49999   20160322  43.731010 -3.121867  0.027348 -0.808914  2.116551  0.228730

            v_6       v_7       v_8       v_9      v_10      v_11      v_12  \
0      0.121800  0.070899  0.106558  0.078867 -7.050969 -0.854626  4.800151
1      0.000000  0.096733  0.013705  0.052383  3.679418 -0.729039 -3.796107
2      0.112081  0.078082  0.062078  0.050540 -4.926690  1.001106  0.826562
3      0.106727  0.081146  0.075971  0.048268 -4.864637  0.505493  1.870379
4      0.000000  0.077806  0.028600  0.081709  3.616475 -0.673236 -3.197685
...         ...       ...       ...       ...       ...       ...       ...
49995  0.130044  0.049833  0.028807  0.004616 -5.978511  1.303174 -1.207191
49996  0.108095  0.066039  0.025468  0.025971 -3.913825  1.759524 -2.075658
49997  0.105724  0.117652  0.057479  0.015669 -4.639065  0.654713  1.137756
49998  0.000490  0.137366  0.086216  0.051383  1.833504 -2.828687  2.465630
49999  0.000300  0.103534  0.080625  0.124264  2.914571 -1.135270  0.547628

           v_13      v_14
0      0.620011 -3.664654
1     -1.541230 -0.757055
2      0.138226  0.754033
3      0.366038  1.312775
4     -0.025678 -0.101290
...         ...       ...
49995 -1.981240 -0.357695
49996 -1.154847  0.169073
49997 -1.390531  0.254420
49998 -0.911682 -2.057353
49999  2.094057 -1.552150

[50000 rows x 30 columns]>

In [22]:
Train_data.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,regionCode,seller,offerType,creatDate,price,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
count,150000.000000,150000.000000,1.500000e+05,149999.000000,150000.000000,145494.000000,141320.000000,144019.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.0,1.500000e+05,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000
mean,74999.500000,68349.172873,2.003417e+07,47.129021,8.052733,1.792369,0.375842,0.224943,119.316547,12.597160,2583.077267,0.000007,0.0,2.016033e+07,5923.327333,44.406268,-0.044809,0.080765,0.078833,0.017875,0.248204,0.044923,0.124692,0.058144,0.061996,-0.001000,0.009035,0.004813,0.000313,-0.000688
std,43301.414527,61103.875095,5.364988e+04,49.536040,7.864956,1.760640,0.548677,0.417546,177.168419,3.919576,1885.363218,0.002582,0.0,1.067328e+02,7501.998477,2.457548,3.641893,2.929618,2.026514,1.193661,0.045804,0.051743,0.201410,0.029186,0.035692,3.772386,3.286071,2.517478,1.288988,1.038685
min,0.000000,0.000000,1.991000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.0,2.015062e+07,11.000000,30.451976,-4.295589,-4.470671,-7.275037,-4.364565,0.000000,0.000000,0.000000,0.000000,0.000000,-9.168192,-5.558207,-9.639552,-4.153899,-6.546556
25%,37499.750000,11156.000000,1.999091e+07,10.000000,1.000000,0.000000,0.000000,0.000000,75.000000,12.500000,1018.000000,0.000000,0.0,2.016031e+07,1300.000000,43.135799,-3.192349,-0.970671,-1.462580,-0.921191,0.243615,0.000038,0.062474,0.035334,0.033930,-3.722303,-1.951543,-1.871846,-1.057789,-0.437034
50%,74999.500000,51638.000000,2.003091e+07,30.000000,6.000000,1.000000,0.000000,0.000000,110.000000,15.000000,2196.000000,0.000000,0.0,2.016032e+07,3250.000000,44.610266,-3.052671,-0.382947,0.099722,-0.075910,0.257798,0.000812,0.095866,0.057014,0.058484,1.624076,-0.358053,-0.130753,-0.036245,0.141246
75%,112499.250000,118841.250000,2.007111e+07,66.000000,13.000000,3.000000,1.000000,0.000000,150.000000,15.000000,3843.000000,0.000000,0.0,2.016033e+07,7700.000000,46.004721,4.000670,0.241335,1.565838,0.868758,0.265297,0.102009,0.125243,0.079382,0.087491,2.844357,1.255022,1.776933,0.942813,0.680378
max,149999.000000,196812.000000,2.015121e+07,247.000000,39.000000,7.000000,6.000000,1.000000,19312.000000,15.000000,8120.000000,1.000000,0.0,2.016041e+07,99999.000000,52.304178,7.320308,19.035496,9.854702,6.829352,0.291838,0.151420,1.404936,0.160791,0.222787,12.357011,18.819042,13.847792,11.147669,8.658418

In [23]:
Test_data.describe()

,SaleID,name,regDate,model,brand,bodyType,fuelType,gearbox,power,kilometer,regionCode,seller,offerType,creatDate,v_0,v_1,v_2,v_3,v_4,v_5,v_6,v_7,v_8,v_9,v_10,v_11,v_12,v_13,v_14
count,50000.000000,50000.000000,5.000000e+04,50000.000000,50000.000000,48587.000000,47107.000000,48090.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.0,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,174999.500000,68542.223280,2.003393e+07,46.844520,8.056240,1.782185,0.373405,0.224350,119.883620,12.595580,2590.604820,0.0,0.0,2.016033e+07,44.418233,-0.037238,0.050534,0.084640,0.015001,0.248669,0.045021,0.122744,0.057997,0.062000,-0.017855,-0.013742,-0.013554,-0.003147,0.001516
std,14433.901067,61052.808133,5.368870e+04,49.469548,7.819477,1.760736,0.546442,0.417158,185.097387,3.908979,1876.970263,0.0,0.0,7.951521e+01,2.429950,3.642562,2.856341,2.026510,1.193026,0.044601,0.051766,0.195972,0.029211,0.035653,3.747985,3.231258,2.515962,1.286597,1.027360
min,150000.000000,0.000000,1.991000e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.0,0.0,2.015061e+07,28.987024,-4.137733,-4.205728,-5.638184,-4.287718,0.000000,0.000000,0.000000,0.000000,0.000000,-9.160049,-5.411964,-8.916949,-4.123333,-6.112667
25%,162499.750000,11203.500000,1.999091e+07,10.000000,1.000000,0.000000,0.000000,0.000000,75.000000,12.500000,1030.000000,0.0,0.0,2.016031e+07,43.139621,-3.191909,-0.971266,-1.453453,-0.928089,0.243762,0.000044,0.062644,0.035084,0.033714,-3.700121,-1.971325,-1.876703,-1.060428,-0.437920
50%,174999.500000,52248.500000,2.003091e+07,29.000000,6.000000,1.000000,0.000000,0.000000,109.000000,15.000000,2219.000000,0.0,0.0,2.016032e+07,44.611084,-3.050756,-0.388117,0.097881,-0.070225,0.257877,0.000815,0.095828,0.057084,0.058764,1.613212,-0.355843,-0.142779,-0.035956,0.138799
75%,187499.250000,118856.500000,2.007110e+07,65.000000,13.000000,3.000000,1.000000,0.000000,150.000000,15.000000,3857.000000,0.0,0.0,2.016033e+07,45.992639,3.997323,0.240548,1.562700,0.863731,0.265328,0.102025,0.125438,0.079077,0.087489,2.832708,1.262914,1.764335,0.941469,0.681163
max,199999.000000,196805.000000,2.015121e+07,246.000000,39.000000,7.000000,6.000000,1.000000,20000.000000,15.000000,8121.000000,0.0,0.0,2.016041e+07,51.751684,7.553517,18.394570,9.381599,5.270150,0.291618,0.153265,1.358813,0.156355,0.214775,12.338872,18.856218,12.950498,5.913273,2.624622

数据清洗——判断是否缺失，识别是否异常